* {
    padding: 0;
    margin: 0;
}
body {
    background:url(https://i.ibb.co/sgwn8mf/front-view-minimalistic-office-desk-decor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto Mono', monospace;
}
h1 {
    text-align: center;
    color: rgb(21, 22, 28);
}
h2 {
    text-align: center;
    color: rgb(21, 22, 28);
}
#nombre {
    text-align: center;
    color: rgb(21, 22, 28);
    font-family: 'Roboto Mono', monospace;
}
#nameButton {
    text-align: center;
    color: rgb(21, 22, 28);
    font-family: 'Roboto Mono', monospace;
}
.listillas {
    display: inline-block;
}